body {
    font-family: Arial, sans-serif;
    background-color: #eef5ff;
    margin: 0;
}


.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 25px;
    min-height: 100vh;
}


h1 {
    text-align: center;
    color: #0057b8;
}


.question {
    background: #f3f8ff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 12px;
}


label {
    display: block;
    font-size: 18px;
    padding: 10px;
}


input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}


input[type="text"] {
    width: 90%;
    padding: 12px;
    font-size: 18px;
}


button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    background-color: #0057b8;
    border: none;
    border-radius: 10px;
}


button:hover {
    background-color: #003f87;
}


#result {
    margin-top: 25px;
    color: #333;
}
